 *{
    background-color:  #246A73;
    margin: 0;
    padding: 0;
 }
.team-contents{
    
    margin-top: 12%;
     position: relative;
}
.sec-team{
   margin-top: 20%;
    display: flex;
    width: 100%;
    
}
.sec-team h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;

}
.ex-sec{
    border: 2px solid rgb(0, 204, 255);

}

